@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

div:focus,
button:focus,
.btn:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.hidden {
    display: none;
}


/*____ Header */

.marginNav {
    margin-bottom: 25px;
}

.mainNav {
    border-bottom: 1px solid #d6d6d6;
}

.mainNav .container {
    padding: 15px 0;
}

.navSocial a {
    font-size: 12px;
    text-transform: uppercase;
    color: #868686;
    text-decoration: none;
    font-weight: bold;
    background: none;
    height: auto;
}

.navSocial a:hover {
    transition: all 300ms;
    color: #366aaa;
}

.navTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navTitle h1 {
    position: absolute;
    font-size: 12px;
    color: transparent;
}

.navTitle img {
    width: 104px;
    height: auto;
}


/*Tabs Section*/

.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navSection a:last-of-type {
    margin-right: 0;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs label {
    position: relative;
    font-weight: normal;
    letter-spacing: normal;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: auto;
    filter: grayscale(1) brightness(1.5);
}

.tabs label img {
    width: 27.64px;
    height: 27.64px;
}

.tabs input {
    display: none;
    cursor: pointer;
}

.tabs input:checked+label {
    /*filter: grayscale(0) brightness(1);*/
    filter: grayscale(0) brightness(1) contrast(1);
}


/* fim Tabs Section*/

.navSocial {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navSocial a {
    margin-right: 1rem;
}

.navSocial a:last-of-type {
    margin-right: 0;
}

.navSocial .socialLogin {
    display: flex;
    align-items: baseline;
}

.navSocial .socialLogin img {
    width: 11.8px;
    height: auto;
    margin: 0 5px 0 0;
}

.navBuy {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBuy .buyCart img {
    width: 27.16px;
    height: 25.89px;
}


/* CARRINHO CHEIO e VAZIO */

.buyCart {
    position: relative;
}

.buyCart .badge {
    background-color: #366aaa;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
    padding: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    right: -0.35rem;
    top: -0.2rem;
    border-radius: 100%;
}

.buyCart .empty {
    background-color: #fff;
    border: 1px solid #868686;
    color: #3a7a21;
    font-weight: normal;
}


/* Mobile NavBar */

.mobileNav,
.footerNav {
    /*position: absolute;*/
    padding: 24px 20px 15px;
    width: 100%;
    display: none;
}

.hamburguer {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background: none;
    margin: 0 0 10px 0;
    right: 5.3rem;
}

.hamburguer:after,
.hamburguer:before,
.hamburguer span,
.hamburguer label {
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    background: #868686;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.hamburguer:before {
    top: 0;
}

.hamburguer:after {
    bottom: 0;
}

.hamburguer:focus {
    outline: none;
}

.hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000;
    margin: 0 0 1.5rem 0;
}

.hamburguer span {
    top: 8px;
}

#change-hamburguer {
    display: none;
}

#change-hamburguer:checked~.hamburguer:before,
#change-hamburguer:checked~.hamburguer:after {
    top: 10px;
    margin-top: -10%;
    border-radius: 10px;
}

#change-hamburguer:checked~.hamburguer:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 10px;
}

#change-hamburguer:checked~.hamburguer:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 10px;
}

#change-hamburguer:checked~.hamburguer span {
    opacity: 0;
}

#change-hamburguer:checked~.menu {
    max-height: 200px;
}

.menu {
    max-height: 0;
    height: auto;
    background: #fff;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: #868686;
    font-size: 16px;
    padding: 13px;
    display: block;
    border-bottom: 1px solid rgba(203, 203, 203, 0.4);
}

.menu a:first-of-type {
    padding: 40px 13px 13px;
}

.menu a:last-of-type {
    border: none;
    padding: 13px 13px 11px;
}


/* Fim Mobile NavBar */


/*____ Fim Header */


/*____ Banner */

.banner {
    padding: 143px 0 0 0;
    background-image: url('../img/bg_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25rem center;
    background-color: #d6d6d6;
    width: 100%;
    height: auto;
}

.banner h1 {
    font-size: 38px;
    font-weight: lighter;
    padding: 0 28rem 212px 0;
    margin: 0;
}

.banner h1 strong {
    color: #2a5283;
    font-weight: bold;
}


/*____ Fim Banner */


/*____ Barra de Pesquisa */

.searchBar {
    margin: -5rem 0 0 0;
}

.searchBar .col {
    padding: 0 !important;
    margin: 0 !important;
}

.searchBar .searchInput {
    background-color: #ffffff;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    color: #868686;
    padding: 15px 10px 15px 40px;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 80px;
}

.searchBar .inputTitle {
    padding: 0 0 0 10px;
}

.searchBar #locationBox .inputTitle {
    padding: 0;
}

.searchBar .searchInput #city {
    color: #366aaa;
}

.searchBar .searchInput .searchImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.searchBar .searchInput .searchImg img {
    /*width: 100%;*/
    height: auto;
}

.searchBar .searchInput h6 {
    margin: 0;
    font-size: 20px;
}

.searchBar select {
    -webkit-appearance: none;
    border: none;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff !important;
    cursor: pointer;
    width: 100%;
}

.searchBar .btn {
    background-color: #2a5283;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    height: 80px;
}


/*____ Fim Barra de Pesquisa */


/*____ Loja */

.store {
    padding: 40px 0 58px;
}

.store .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.store .mainTitle {
    color: #868686;
    font-weight: lighter;
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 35px;
}

.store .mainTitle strong {
    color: #000000;
    font-weight: normal;
    display: inline-block;
}

.store .row {
    margin: 0 0 70px 0;
}

.store .row:last-of-type {
    margin: 0;
}

.store .productList {
    padding: 0;
}

.store .productBox {
    text-decoration: none;
}

.store .productBox:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.store .productImage {
    width: 100%;
    height: auto;
}

.store .productDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 70px 0;
}

.store .productDetails .productType {
    text-transform: initial;
    color: #868686;
    font-size: 20px;
    margin: 0;
}

.store .productDetails .productPrice {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}


/*____ Fim Loja */


/*____ Login */

.login .container {
    display: flex;
    justify-content: center;
    padding: 6rem 0 12rem;
}

.login .title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.login input {
    background-color: #ebebeb;
    color: #868686;
    font-size: 14px;
    border: none;
    padding: 20px 22px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

.login button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login button a {
    color: #fff;
    text-decoration: none;
}

.login .forgot {
    text-align: left;
    color: #868686;
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 12px;
}

.login .forgot a {
    color: #366aaa;
    text-decoration: underline;
}


/*____ Fim Login */


/*____ Detalhes da Compra */

.details {
    padding: 0 0 38px;
}

.btn-back {
    /*margin: 0 0 0 190px;*/
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.btn-back-success {
    display: flex;
    margin: 0 0 0 -12.5em;
    padding: 0;
    justify-content: flex-start;
}

.details .detailsArea {
    padding: 0 0 0 45px;
}

.details .detailsTitle {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0 15px 0;
}

.details .detailsCarousel {
    padding: 30px 0 0 0;
}

.details .detailsCarousel .col-sm-2 {
    position: relative;
    bottom: 0;
}

.details .carousel-indicators {
    margin: 0;
    top: 0;
    left: 0;
    justify-content: normal;
    flex-direction: column;
}

.details .carousel-indicators li {
    width: 100%;
    height: auto;
    border: 1px solid #cbcbcb;
    opacity: 0.5;
    margin-bottom: 10px;
}

.details .carousel-indicators li img {
    width: auto;
    height: 100% !important;
}

.details .carousel-indicators .active {
    border: 1px solid #000000 !important;
    opacity: 1 !important;
}

.details .carousel-control-next,
.carousel-control-prev {
    opacity: 0;
}

.details .carousel-control-next:focus,
.details .carousel-control-next:hover,
.details .carousel-control-prev:focus,
.details .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0;
}

.details .more {
    color: #868686;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 8px 0;
}

.details .morecontent span {
    display: none;
}

.details .morelink {
    color: #366aaa;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.details .detailsInput {
    background-color: #ffffff;
    border-bottom: 1px solid #d6d6d6;
    color: #868686;
    padding: 13px 0 13px 0.3rem;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.details .detailsInput select {
    border: none;
    padding: 0 0.3rem 0 0;
    cursor: pointer;
}

.detailsInput .detailsImg {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.detailsInput .detailsImg img {
    width: 22.83px !important;
    height: 22.83px !important;
    padding: 0;
    margin: 0.5rem 0 0 0;
}

.detailsInput h6 {
    margin: 0;
    color: #868686;
    font-size: 16px;
}

.detailsInput p {
    font-size: 20px;
    line-height: 25px;
    font-weight: lighter;
    color: #000000;
    margin: 0;
}

.detailsInput .detailsSection {
    padding: 0;
}

.details .sizesBox:first-of-type,
.details .sizesBox:last-of-type {
    padding: 0;
}

.details .btn-remove-gift {
    border: 2px solid #707070;
    background-color: #fff;
    border-radius: 100%;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .detailsSizes {
    margin: 20px 0;
}

.details .detailsGifts {
    margin: 20px 0 25px;
}

.details .detailsSizes h6,
.details .detailsGifts h6 {
    font-size: 16px;
    color: #868686;
    font-weight: normal;
}

.details .sizesImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.details .sizesImg img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.details h5 {
    color: #868686;
    font-size: 12px;
    font-weight: regular;
    margin: 15px 0 0 0;
}

.details .detailPrice {
    margin: 6px 0 0 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.details .detailsSubmit .btn {
    background-color: #213a56;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    padding: 40px;
    width: 100%;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-sizing: border-box;
}

.details .detailsSubmit .btn a {
    color: #fff;
    text-decoration: none;
}

.details .detailsSubmit p {
    font-size: 12px;
    margin: 0;
}

.details .tabs-details input[type='radio'],
.details .tabs-details input[type='checkbox'] {
    display: none;
    cursor: pointer;
}

.details .tabs-details label {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 128px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    transition: all 500ms ease;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .tabs-details label+.detailPrice {
    color: #868686 !important;
}

.details .tabs-details input[type='radio']:checked+label,
.details .tabs-details input[type='checkbox']:checked+label {
    border: 3px solid #2d65af !important;
}

.details .tabs-details input[type='radio']:checked+label+.detailPrice,
.details .tabs-details input[type='checkbox']:checked+label+.detailPrice {
    color: #000000 !important;
}

.details button.slick-prev.slick-arrow {
    position: absolute;
    left: -75px;
    top: 25%;
    border: none;
    background-color: transparent;
    color: transparent;
    visibility: hidden;
}

.details button.slick-next.slick-arrow {
    position: absolute;
    right: -55px;
    top: 25%;
    border: none;
    background-color: transparent;
    color: transparent;
    background-image: url(../img/arrow_next.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


/*____ Fim Detalhes da Compra */


/*____ Entrega */

.form-group .formData h1 {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    margin: 27px 0 25px;
}

.form-group .formData h2 {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    margin: 0 0 10px;
}

.form-group .formRow {
    margin: 0 0 20px 0;
}

.form-group .formRow:last-of-type {
    margin: 0;
}
.form-group .no-padding-right {
    padding-right: 0;
    padding-left: 0.5rem;
}
.form-group input,
.form-group textarea {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    color: #868686;
    font-size: 13px;
    padding: 20px;
    width: 100%;
    height: 50px;
    margin: 0 20px 0 0 !important;
}

.form-group input:last-of-type,
.form-group textarea:last-of-type {
    margin-right: 0 !important;
}

.form-group textarea {
    resize: none;
    height: 164px;
    margin: 0 0 20px 0;
}

.form-group select {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    color: #868686;
    font-size: 13px;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    margin: 0 20px 0 0;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.form-group .formValidation {
    color: red;
    font-size: 13px;
    margin: 5px 0;
}

.form-group .formValidation::before {
    content: '⚠';
    margin-right: 5px;
}

.form-group .btn {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #213a56;
    padding: 25px 0;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group .btn a {
    text-decoration: none;
    color: #ffffff;
}

.form-group .btn-black {
    background-color: #000000 !important;
}

.form-group .btn-buy-desk {
    margin-top: 40px;
}

.form-group .btn-buy-mobile {
    display: none;
}

.recipient .form-group .btn-black {
    margin: 30px 0 0 0;
}

.delivery .form-group .btn-black {
    text-transform: inherit;
}

.delivery .tabs-recipient {
    padding: 0;
}

.delivery .tabs-recipient label {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    color: #868686;
    text-align: left;
    position: relative;
    cursor: pointer;
    padding: 18px 30px;
    width: 100%;
    height: 50px;
    transition: all 500ms ease;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%);
}

.delivery .tabs-recipient input {
    display: none;
    cursor: pointer;
}

.delivery .tabs-recipient input:checked+label {
    border: 1px solid #5e8ece;
    color: #366aaa;
}

.delivery .addRecipient {
    color: #366aaa;
    background-color: transparent;
    border: none;
    background-image: url(../img/plus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.delivery .newRecipient {
    display: flex;
    align-items: center;
    margin: 33px 0 15rem 0;
}

.registerUser .form-group .formData h1 {
    font-size: 25px;
    font-weight: normal;
    color: #000;
    margin: 25px 0 22px 0;
}

.registerUser .form-group .formData h1.account {
    margin: 19px 0 0 0;
}

.registerUser .form-group .formData h2 {
    font-size: 25px;
    font-weight: normal;
    color: #868686;
    margin: 0 0 30px 0;
}

.registerUser .form-group .btn-black {
    margin: 30px 0 0 0;
}

.registerUser .form-group .btn-outline-blue {
    background-color: #ffffff;
    border: 2px solid #2d65af;
    color: #366aaa;
    font-size: 20px;
    font-weight: bold;
    text-transform: inherit;
    margin: 0 0 20px 0;
    height: 60px;
}

.registerUser .form-group .or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerUser .form-group .or h3 {
    color: #868686;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

.registerUser .form-group .or hr {
    color: #cbcbcb;
}

.contact .form-group .formData h1 {
    color: #000;
    margin: 50px 0;
}

.contact .form-group .formData h2 {
    color: #868686;
    font-size: 34px;
    font-weight: normal;
    margin: 0 0 34px 0;
}

.contact .form-group .formData .btn-black {
    margin: 34px 0 0 0;
}


/*____ Fim Entrega */


/*____ Pagamento */

.form-group .numberCard {
    width: 96%;
}

.form-group .cvv {
    background-image: url(../img/credit-card-cvv.svg);
    background-position: 9.2rem center;
    background-size: 40.13px 27.56px;
    background-repeat: no-repeat;
    margin: 0 0 20px 0;
}

.form-group .btn-card-info {
    color: #366aaa;
    background-color: #fff;
    border: 2px solid #366aaa;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
    width: 51px;
    height: 51px;
    margin: 0 0 0 16px;
    padding: 15px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkout .purchaseSummary h3 {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 5px 0;
}

.checkout .purchaseCard {
    border: 1px solid #cbcbcb;
    padding: 37px 45px 30px;
    margin: 27px 0 15px;
}

.checkout .purchaseCard ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.checkout .purchaseCard li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 15px 0;
    border-bottom: 1px dashed #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout .purchaseCard li:last-of-type {
    border-bottom: none;
}

.checkout .purchaseCard li .imgP {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    width: 110px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.checkout .purchaseCard li .imgP img {
    border: none;
    width: 92px;
    height: auto;
}

.checkout .purchaseCard .productP {
    color: #868686;
    float: left;
}

.checkout .purchaseCard .priceP {
    float: right;
}

.checkout .purchaseCard .total,
.checkout .purchaseCard .total .productP {
    color: #366aaa;
    text-transform: uppercase;
    font-size: 18px;
}


/*____ Fim Pagamento */


/*____ Sobre */

.about .container {
    display: flex;
    justify-content: flex-start;
    padding: 3rem 0 5rem;
    flex-direction: column;
}

.about .title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 5rem;
}

.about .message {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    color: #868686;
    margin: 40px 0 0 0;
    padding: 0;
}


/*____ Fim Sobre */


/*____ Sucesso */

.success {
    margin: 0 auto;
    text-align: center;
}

.success .title {
    text-transform: uppercase;
    color: #366aaa;
    font-size: 35px;
    margin: 7rem 0 20px 0;
}

.success .successMessage {
    border-top: 1px solid #2d65af;
    padding: 20px 1.5rem 15rem;
    font-size: 20px;
    line-height: 25px;
    color: #868686;
}


/*____ Fim Sucesso */


/*____ Footer */

.mainFooter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 62px 0 37px 0;
}

.mainFooter img {
    margin-bottom: 37px;
}

.mainFooter p {
    text-transform: uppercase;
    margin: 0;
    padding: 37px 0 0 0;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    text-align: center;
    color: #366aaa;
    font-size: 14px;
}

.footerMargin {
    display: none;
}


/*____ Fim Footer */


/*____ PopUp */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.63);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupCart .popup {
    margin: 0 auto;
    padding: 50px 20px;
    background: #fff;
    border-radius: 0px;
    position: relative;
    text-align: center;
    top: 50% !important;
    position: fixed !important;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    left: 0;
}

#popupCart .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    background: transparent;
    cursor: pointer;
    float: right;
    padding: 0;
    color: #707070;
    margin-top: 0;
    margin-right: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid #707070;
    border-radius: 100%;
}

#popupCart .popup .close:hover {
    color: #213a56;
    border: 2px solid #213a56;
}

#popupCart .purchaseCard {
    border: 1px solid #cbcbcb;
    padding: 37px 45px 30px;
}

#popupCart .purchaseCard ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

#popupCart .purchaseCard li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 15px 0;
    border-bottom: 1px dashed #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popupCart .purchaseCard li:last-of-type {
    border-bottom: none;
}

#popupCart .purchaseCard li .imgP {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    width: 110px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#popupCart .purchaseCard li .imgP img {
    border: none;
    width: 100%;
    height: auto;
}

#popupCart .purchaseCard .productP {
    color: #868686;
    float: left;
}

#popupCart .purchaseCard .priceP {
    float: right;
}

#popupCart .purchaseCard .total,
#popupCart .purchaseCard .total .productP {
    color: #366aaa;
    text-transform: uppercase;
    font-size: 18px;
}

#popupCart .btn {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #213a56;
    padding: 25px 0;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupCart .btn a {
    text-decoration: none;
    color: #ffffff;
}


/*____ Fim PopUp */


/*___________ Media Queries ___________*/

@media (max-width: 991.98px) {
    .navSocial a {
        font-size: 13px;
        margin-right: 0.5rem;
    }
    .banner {
        padding: 90px 0 0 0;
        background-position: 63% center;
    }
    .banner h1 {
        padding: 0 20rem 130px 0;
        font-size: 22px;
    }
    .searchBar {
        margin: -4.9rem 0 0 0;
    }
    .searchBar .searchInput {
        padding: 15px;
        font-size: 14px;
    }
    .searchBar .searchInput h6,
    .searchBar select {
        font-size: 14px;
    }
    .searchBar .searchInput img {
        height: 45px;
        width: 45px;
        padding: 0 0px 0 15px;
    }
    .searchBar .inputTitle {
        padding: 0 0 0 10px;
    }
    .searchBar #locationBox .inputTitle {
        padding: 0 0 0 5px;
    }
    .searchBar .btn {
        background-color: #2a5283;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        height: 60px;
    }
    .store {
        padding: 30px 0;
    }
    .store .row {
        margin: 0 0 25px 0;
    }
    .store .mainTitle {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .store .productDetails .productType,
    .store .productDetails .productPrice {
        font-size: 15px;
    }
    .mainFooter .container {
        padding: 32px 0 30px 0;
    }
    .mainFooter p {
        padding: 20px 0 0 0;
        font-size: 12px;
    }
    .detailsInput p {
        font-size: 15px;
    }
}

@media (max-width: 767.98px) {
    .details,
    .about {
        margin: 0 20px;
        padding: 0;
    }
    .mainNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        border-bottom: 1px solid #cbcbcb;
    }
    .footerNav {
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 9;
        background-color: #ffffff !important;
        -webkit-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }
    .footerNav .tabs label img {
        width: 27px;
        height: 27px;
    }
    .buyCart {
        margin-right: 0;
        position: absolute;
        right: 1.6rem;
        top: 1.2rem;
    }
    .buyCart .badge {
        top: -0.1rem;
    }
    .buyCart img {
        width: 22.03px;
        height: auto;
    }
    .banner {
        padding: 63px 0 0 0;
        background-position: 53% center;
        background-image: url('../img/bg_banner_mobile.jpg');
    }
    .banner h1 {
        padding: 0 7rem 70px 0;
        font-size: 18px;
    }
    .searchBar {
        margin: -0.8rem 0 0 0;
    }
    .searchBar .btn {
        margin-top: 5px;
    }
    .searchBar .searchInput {
        border: 1px solid #ebebeb;
        margin: 0 0 10px 0;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    }
    .searchBar .searchInput h6,
    .searchBar select {
        font-size: 18px;
    }
    .searchBar .searchInput .inputTitle .col-sm-9 {
        width: 75% !important;
    }
    .searchBar .searchInput .inputTitle .col-sm-3 {
        width: 25% !important;
    }
    .store .mainTitle {
        margin: 0 0 20px 15px;
        text-align: left;
    }
    .store .row,
    .store .row:last-of-type {
        margin: 0 10px;
    }
    a.col-sm-4.productBox {
        width: 50%;
        padding: 0 5px 0;
    }
    .store .productDetails {
        margin: 10px 0 30px 0;
        flex-wrap: wrap;
    }
    .store .productDetails .productType,
    .store .productDetails .productPrice {
        width: 100%;
    }
    .mainFooter {
        margin: 0 20px;
    }
    .mainFooter .container {
        padding: 32px 0 22px 0;
    }
    .mainFooter img {
        margin-bottom: 22px;
    }
    .mainFooter p {
        padding: 22px 1.5rem 0;
        font-size: 12px;
    }
    .footerMargin {
        display: block;
        margin: 0 0 4.6rem 0;
        height: 10px;
        width: 100%;
        background-color: transparent;
    }
    .login .container {
        padding: 5rem 0 10rem;
    }
    .login .title {
        font-size: 25px;
        margin-bottom: 2rem;
    }
    .login input {
        font-size: 14px;
        padding: 16px 20px;
        margin-bottom: 10px;
        height: 40px;
    }
    .login button {
        font-size: 14px;
        padding: 16px 0;
        height: 40px;
    }
    .login .forgot {
        font-size: 12px;
    }
    .about .container {
        padding: 3.13rem 0 8rem;
    }
    .about .title {
        font-size: 28px;
        margin: 0;
    }
    .about .message {
        font-size: 14px;
        line-height: 24px;
        margin: 32px 0 0 0;
    }
    .success .title {
        font-size: 28px;
        margin: 4rem 0 12px 0;
    }
    .success .successMessage {
        padding: 12px 0 20rem 0;
        font-size: 20px;
        line-height: 25px;
    }
    .btn-back {
        border-bottom: 1px solid rgba(203, 203, 203, 0.4);
        padding: 5px 20px;
        display: block;
        width: 100%;
        margin: 0;
    }
    .btn-back-success {
        margin: 0 0 0 -1.5rem;
    }
    .form-group .formData h1 {
        font-size: 28px;
        margin: 20px 0 30px;
    }
    .form-group .formData h2 {
        font-size: 22px;
        margin: 20px 0 21px 0;
    }
    .form-group input,
    .form-group textarea {
        font-size: 15px;
        padding: 20px;
        width: 100%;
        margin: 0 !important;
    }
    .form-group select {
        font-size: 15px;
        padding: 21px 24px;
        width: 100%;
        height: 60px;
        margin: 0 10px 0 0;
    }
    .form-group .formRow {
        margin: 0 0 10px 0;
    }
    .form-group #inputCity {
        padding: 0 !important;
    }
    .row.tabs-details {
        width: 100%;
        margin: 0 auto;
    }
    .form-group textarea {
        height: 140px;
        margin: 0;
    }
    .form-group .btn-buy-mobile {
        display: flex;
    }
    .form-group .btn-buy-desk {
        display: none !important;
    }
    .recipient .form-group .formRow .col-sm-4 {
        width: 33.33%;
    }
    .recipient .form-group .formRow .col-sm-8 {
        width: 66.66%;
    }
    .recipient .form-group .formRow .col-sm-6 {
        width: 50%;
    }
    .form-group .btn {
        height: 60px;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recipient .form-group .btn-black {
        margin: 30px 0 20px;
        font-weight: bold;
    }
    .form-text {
        font-size: 14px;
    }
    .checkout .formData .col-sm-5 {
        width: 41.66%;
    }
    .checkout .formData .col-sm-4 {
        width: 33.33%;
    }
    .checkout .formData .col-sm-2 {
        width: 16.66%;
    }
    .checkout .form-group .btn-card-info {
        margin: 0 0 0 16px;
    }
    .checkout .purchaseSummary {
        margin: 50px 0 0 0;
    }
    .checkout .purchaseCard {
        padding: 13px 20px 20px 20px;
        margin: 0 0 50px;
    }
    .checkout .purchaseSummary h3 {
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .checkout .purchaseCard li {
        padding: 10px 0;
        font-size: 22px;
    }
    .checkout .purchaseCard .total,
    .checkout .purchaseCard .total .productP {
        font-size: 22px;
    }
    .checkout .purchaseCard .delivery {
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
    }
    .checkout .purchaseCard .delivery .priceP {
        position: absolute;
        right: 0;
        top: 2.5rem;
    }
    #popupCart .purchaseCard {
        padding: 13px 20px 20px 20px;
        width: 90%;
    }
    #popupCart .purchaseCard h3 {
        font-size: 25px;
        font-weight: bold;
        margin: 0 0 20px 0;
        text-align: left;
    }
    #popupCart .purchaseCard li {
        padding: 10px 0;
        font-size: 18px;
    }
    #popupCart .purchaseCard li .imgP {
        width: 94px;
        height: 94px;
    }
    #popupCart .purchaseCard .total,
    #popupCart .purchaseCard .total .productP {
        font-size: 22px;
    }
    #popupCart .purchaseCard .delivery {
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
    }
    #popupCart .purchaseCard .delivery .priceP {
        position: absolute;
        right: 0;
        top: 2.5rem;
    }
    .checkout .form-group .btn {
        margin-bottom: 43px;
    }
    .contact .form-group .formData h1 {
        margin: 57px 0 32px;
    }
    .contact .form-group .formData h2 {
        font-size: 20px;
        font-weight: normal;
        margin: 0 0 20px 0;
    }
    .contact .form-group .formData .btn-black {
        margin: 20px 0 111px 0;
    }
    .registerUser .form-group .formData h1 {
        font-size: 25px;
        margin: 31px 0 11px 0;
    }
    .registerUser .form-group .btn-outline-blue {
        font-size: 16px;
        margin: 0 0 15px 0;
        height: 40px;
        padding: 12px 0;
    }
    .registerUser .form-group .or {
        margin: 0;
    }
    .registerUser .form-group .or h3 {
        font-size: 16px;
    }
    .registerUser .or .col-sm-4 {
        width: 33.33%;
    }
    .registerUser .form-group .formData h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .delivery .tabs-recipient label {
        padding: 23px 15px 23px 20px;
        height: 60px;
        font-size: 15px;
    }
    .delivery .addRecipient {
        width: 15px;
        height: 15px;
    }
    .delivery .newRecipient {
        margin: 0 0 54px 0;
    }
    .details .detailsTitle {
        font-size: 25px;
    }
    .details .detailsArea {
        padding: 0;
        margin: 0 0.5rem;
    }
    .tabs-details {
        margin-left: 0;
        margin-right: 0;
        justify-content: flex-start;
        display: flex;
    }
    .details .more {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 12px 0;
    }
    .details .morelink {
        font-size: 15px;
    }
    .detailsInput h6 {
        font-size: 15px;
        margin: 0 0 5px 0;
    }
    .detailsInput p {
        font-size: 20px;
        line-height: 25px;
        font-weight: lighter;
    }
    .details .detailsInput .col-sm-1 {
        width: 8.33%;
    }
    .details .detailsInput .col-sm-11 {
        width: 83%;
        padding: 0;
    }
    .detailsInput .detailsImg img {
        width: 44.77px !important;
        height: 44.77px !important;
        margin: 0.2rem 0 0 0;
    }
    .details .detailsSubmit .btn {
        font-size: 25px;
        padding: 15px;
        margin: 0 0 30px 0;
        height: 60px;
    }
    .details .detailsSubmit p {
        font-size: 14px;
        line-height: 20px;
    }
    .details .tabs-details .col-sm-4 {
        width: 33.33%;
        padding: 0 5px;
    }
    .details .carousel-inner {
        width: 100% !important;
        height: 100% !important;
    }
    .details .carousel-item {
        width: 100% !important;
        height: auto !important;
    }
    .details .w-100 {
        width: 100% !important;
        height: auto !important;
        display: initial !important;
    }
    .details .carousel-indicators {
        flex-direction: row;
        justify-content: center;
    }
    .details .detailsCarousel .col-sm-2 {
        position: absolute;
        bottom: 1rem;
    }
    .details .carousel-indicators li {
        width: 9px;
        height: 9px;
        background-color: #000000;
        border-radius: 100%;
        background-image: none !important;
        opacity: 1;
    }
    .details .carousel-indicators .active {
        background-color: transparent;
        border: 1px solid #000000;
    }
    .details h5 {
        font-size: 15px;
    }
    .details .detailPrice {
        margin: 5px 0 20px 0;
    }
    .details .tabs-details label {
        width: 100%;
        height: 94px;
    }
    .details .sizesImg img {
        width: 55%;
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .form-group .formData h1 {
        font-size: 22px;
        margin: 20px 0 15px;
    }
    .form-group .formData h2 {
        font-size: 18px;
        margin: 15px 0 21px 0;
    }
    .form-group .formValidation {
        font-size: 10px;
    }
    .form-group input,
    .form-group textarea {
        font-size: 13px;
        padding: 15px;
    }
    .form-group select {
        font-size: 13px;
        padding: 15px;
        width: 100%;
        margin: 0;
    }
    .form-text {
        font-size: 12px;
    }
    .checkout .purchaseCard li {
        font-size: 15px;
    }
    .checkout .purchaseCard .total,
    .checkout .purchaseCard .total .productP {
        font-size: 18px;
    }
    .detailsInput p {
        font-size: 13px;
        line-height: 20px;
    }
    .detailsInput .detailsImg img {
        width: 36.77px !important;
        height: 36.77px !important;
    }
    .details .detailsSubmit .btn {
        font-size: 20px;
    }
    .mainFooter p {
        padding: 22px 0.5rem 0;
    }
}
